body{
    padding: 0;
    margin: 0;
    background-color: rgb(223, 223, 223);
    

}


#world-map{
    height: 293px;
    width: 585px;
    margin-left: auto;
    
}


#pin{
    z-index: 0;
    position: absolute;
    display: block;
    pointer-events: none;
    
}

h1{
    text-align: center;
    padding: 25px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

h2{
    margin-bottom: 60px;
    margin-left: 1%;
    color: darkslategrey;
    opacity: 80%;
}

.live-info-container{
    background-color: whitesmoke;
    border-radius: 1%;
    margin-bottom: 10px;
}

.live-info-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: darkslategrey;
    opacity: 80%;

}


.live-info-container li{

    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 5px;
    

}


#cool-border{
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    
    background-color: rgb(0, 114, 120);
}

#cool-border img{
    border-radius: 10%;
}


@media(max-width: 584px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #world-map{
        height: 219.75px;
        width: 438.75px;
        
        
    }


    #pin{
        z-index: 0;
        position: absolute;
        display: block;
        pointer-events: none;
        
    }

    .live-info-container li{

        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 3px;
        
    
    }
    

}

